<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png')}}">
    </head>
    <body>
        <header>
            <h1>Visita Japón 日本<img src="{{ url_for('static', filename='images/JapanFlag.png')}}" alt="", height="30px"></h1>
            <ul>
                <li><a href="{{ url_for('index')}}">Inicio</a></li>
                <li><a href="{{ url_for('about')}}">Acerca de</a></li>
                <li><a href="{{ url_for('contact')}}">contactanos</a></li>
            </ul>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>Todos los derechos Reservados &reg;</p>
        </footer>
    </body>
</html>